@model CarManagement.Models.Veiculo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Veículo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Placa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            Modelo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modelo.Nome)
        </dd>

        <dt>
            Marca
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marca.Nome)
        </dd>

        <dt>
            Cor
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cor.Descricao)
        </dd>

        <dt>
            Combustível
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Combustivel.Descricao)
        </dd>

        <dt>
            Status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Fotos
        </dt>
        <dd>
            @if (Model.Fotos != null && Model.Fotos.Any())
            {
                <div class="row">
                    @foreach (var foto in Model.Fotos)
                    {
                        <div class="col-md-4">
                            <img src="@foto" alt="Foto do Veículo" class="img-fluid mb-2" />
                        </div>
                    }
                </div>
            }
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
